{% extends 'base.html' %}
{% load element_tags %}
{% load i18n %}

{% block content %}
    <div id="content_body" class="bg1">
        <div id="sidebar" class="div_transp {{ 'left'|style }}">
            <div class="dotline right"></div>
            {% if LANGUAGE_CODE == "ru" %}
                <h1>{% trans "новости" %}</h1>
            {% else %}
                <h1>{% trans "חדשות" %}</h1>
            {% endif %}
            <div class="sidebar_block block_transp">
                <div class="bottom_line"></div>
            </div>
        </div>
        <div id="content" class="{{ 'left'|style }}">
            <div class="news">
                <div class="{{ 'left'|style }}" style="margin-top: 3px;">
                    <script type="text/javascript">
                        Imgs.add('1');
                    </script>
                    <div id="img1_1" class="left" style="">
                        <a href="{{ one.original1 }}" class="fancybox">
                            <img src="{{ one.thumb1 }}" class="left" alt="" title="" />
                        </a>
                    </div>
                    <div id="img2_1" class="left" style="display: none;">
                        <a href="{{ one.original2 }}" class="fancybox">
                            <img id="img2_1" src="{{ one.thumb2 }}" class="left" alt="" title="" />
                        </a>
                    </div>
                    <div id="img3_1" class="left" style="display: none;">
                        <a href="{{ one.original3 }}" class="fancybox">
                            <img id="img3_1" src="{{ one.thumb3 }}" class="left" alt="" title="" />
                        </a>
                    </div>
                    <div class="clear"></div>
                    <script type="text/javascript">
                        Imgs.go('1');
                    </script>
                </div>
                <div class="{{ 'left'|style }}" style="width: 480px; padding-{{ 'left'|style }}: 14px;">
                    <div class="title">
                        {{ one.title }}
                    </div>
                    <div class="created">
                        {{ one.created }}
                    </div>
                    <div class="preview">
                        {{ one.content }}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.fancybox").fancybox();
        });
    </script>
{% endblock %}