{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<div id="content_body" class="bg4">
        <div id="sidebar" class="div_transp left">
            <div class="dotline right"></div>
            <h1>{% trans "новости" %}</h1>
            <div class="sidebar_block block_transp">
                <div class="bottom_line"></div>
            </div>
        </div>
        <div id="content" class="left">
            {% for one in news %}
                <div class="news">
                    <div class="title">
                        <a href="{% url one_news news_id=one.id %}">{{ one.title }}</a>
                    </div>
                    <div class="created">
                        {{ one.created }}
                    </div>
                    <div class="preview">
                        {{ one.short_name }}
                        <br />
                        <a href="{% url one_news news_id=one.id %}">{% trans "Далее" %}...</a>
                    </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}