{% extends 'base.html' %}
{% load element_tags %}
{% load i18n %}

{% block content %}
	<div id="content_body" class="bg1">
	    <div id="sidebar" class="div_transp {{ 'left'|style }}">
	        <div class="dotline right"></div>
	        <h1>{% trans "галерея" %}</h1>
	        <div class="sidebar_block block_transp">
	        	{% for album in albums %}
	            	<p>
	            		<a href="/gallery/?album={{ album.id }}">{{ album }}</a>
	            	</p>
	            {% endfor %}
	            <div class="bottom_line"></div>
	        </div>
	    </div>
	    <div id="content" class="{{ 'left'|style }}">
	        <div class="gallery">
	            <div id="div_img">
	            	{% if big %}
	                	<img id="big_picture" src="{{ big.original }}" alt="" />
	                {% endif %}
	            </div>
	            <div class="thumbs">
	            	<ul id="mycarousel" class="jcarousel-skin-tango">
	            	{% for g in gallery %}
	            		<li>
		                	<a href="javascript: void(0)" onclick="gallery.set('{{ g.original }}')">
		                		<img src="{{ g.thumb }}" alt="" />
		                	</a>
	                	</li>
	                {% endfor %}
	            	</ul>
	            </div>
	        </div>
	        <div class="clear"></div>
	        <div class="text_footer">
	            {#{ html|safe }#}
	        </div>
	    </div>
	    <div class="clear"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#mycarousel').jcarousel({
				wrap: 'circular',
				scroll: 2,
				auto: 3
			});
		});
	</script>
{% endblock %}