{% extends 'base.html' %}
{% load element_tags %}
{% load i18n %}

{% block content %}
	<div id="content_body" class="bg4">
	    <div id="sidebar" class="div_transp {{ 'left'|style }}">
	        <div class="dotline right"></div>
	        <h1><bdo dir="rtl">{% trans "галерея" %}</bdo></h1>
	        <div class="sidebar_block block_transp">
	        	{% for album in albums %}
	            	<p>
	            		<a href="/gallery/?album={{ album.id }}">{{ album }}</a>
	            	</p>
	            {% endfor %}
	            <div class="bottom_line"></div>
	        </div>
	    </div>
	    <div id="content" class="{{ 'left'|style }}">
	        <div class="gallery">
	            <div id="div_img" class="left">
	            	{% if big %}
	                	<img id="big_picture" src="{{ big.original }}" alt="" />
	                {% endif %}
	            </div>
	            <div class="thumbs left">
	            	{% for g in gallery %}
	                	<a href="javascript: void(0)" onclick="gallery.set('{{ g.original }}')">
	                		<img src="{{ g.thumb }}" alt="" />
	                	</a>
	                {% endfor %}
	            </div>
	        </div>
	        <div class="clear"></div>
	        <div class="text_footer">
	            {{ html|safe }}
	        </div>
	    </div>
	    <div class="clear"></div>
	</div>
{% endblock %}