<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% head %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            {% header %}
            {% select_language %}
        </div>
        <div id="menu">
            {% menu %}
        </div>
        {% if messages %}
            <div id="messages">
                <a href="javascript: hideMessage();" class="right">
                    <img src="/static/images/close.png" alt="" />
                </a>
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %} 
        <div id="container">    
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% footer %}
        </div>
    </div>
</body>
</html>