{% load i18n %}
<div id="footer">
    <div class="bg_footer left">
        <a href="#"><img src="{{ STATIC_URL }}images/footer_logo.png" alt="" /></a>
    </div>
    <div class="footer_text right">
        <table class="left">
            <tr>
                <td class="f1">
                    <h3>{% trans "studio gen" %}</h3>
                    <span>{% trans "архитектурная студия" %}</span><br />
                    <span>{% trans "дизайн интерьеров, феншуй" %}</span>
                </td>
                <td class="f2">
                    <span>{% trans "тель авив, 0000" %}</span><br />
                    <span><b>T</b>&nbsp;03-600-000" %}</span><br />
                    <span><b>M</b>&nbsp;054-493-0558" %}</span><br />
                    <span class="email">
                        <b>E</b>&nbsp;<a href="mailto:mr@studiogen.co.il">mr@studiogen.co.il</a>
                    </span>
                </td>
                <td class="f3">
                    {% trans "© 2012 Studio Gen, All Rights Reserved. Legal Information" %}
                </td>
                <td class="f4">
                    <a href="#"><img src="{{ STATIC_URL }}images/rss.png" alt="" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/fb.png" alt="" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}images/tw.png" alt="" /></a>
                </td>
            </tr>
        </table>
    </div>
</div>
