<title>{{ title }}</title>

<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />
<meta name="copyright" content="{{ copyright }}" />

<base href="http://{{ domain }}" />

<link rel="stylesheet" href="/static/css/thickbox.css" type="text/css" media="screen" />
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/skin.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/thickbox.js"></script>
<script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/static/js/scriptik.js"></script>
