<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{{ title }}</title>

<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />
<meta name="copyright" content="{{ copyright }}" />

<base href="http://{{ domain }}" />

<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/skin.css" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" rel="stylesheet" />
{% if LANGUAGE_CODE == 'he' %}
    <link type="text/css" href="{{ STATIC_URL }}css/style_he.css" rel="stylesheet" />
{% endif %}
{% block css %}{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% block js %}{% endblock %}
