{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<div id="content_body" class="bg1">
        <div id="sidebar" class="div_transp left">
            <div class="dotline right"></div>
            <h1 style="font-size: 36px !important;">{% trans "написать" %}</h1>
            <div class="sidebar_block block_transp">
                <div class="bottom_line"></div>
            </div>
        </div>
        <div id="content" class="left">
            <div class="contactus">
                {% if message %}
                    <h3>{{ message }}</h3>
                    <br />
                    <br />
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                        <tr>
                            <td colspan="2" align="right">
                                <input type="submit" value="{% trans "Отправить" %}">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}